<%- include("../partials/header.ejs") %>
  <nav>
    <img class="logo" src="/images/logo.svg">
          <form class="search" action="/users" method="GET">
            <div class="input">
            <input id="search" type="text" name="name" placeholder="search" value="" autocomplete="off">
          </div>
          <div>
            <input type="submit" value="search">
          </div>
          </form>
          <a href="/questions/new" class="ask">Ask</a>
            <% if (user) { %>
              <a class="login" href="/logout">Log Out</a>
            <% } else { %>
              <a class="login" href="/auth/google">Login with Google</a>
            <% } %>
 </nav>
 <main>
   <div class="sectionOne">
          <% questions.forEach(element => { %>
        <div class="question">
          <div class="answerNumber">
            <h5 class="number"><%=element.answer.length%></h5>
            <p>asnwer</p>
          </div>
          <h5 class="title"><%=element.title%></h5>
          <div class="buttons">
            <a class="details" href="/questions/<%= element._id %>">DETAILS</a>
            <form action="/questions/<%= element._id%>?_method=DELETE" method="POST">
              <input type="submit" value="DELETE">
            </form>
          </div>
       </div>
          <% }); %> 
    </div>
    <div class="sectionTwo">
      <img class="sideOne sideImg" src="/images/sideOne.png">
      <img class="sideTwo sideImg" src="/images/sideTwo.png">
    </div>
 </main> 
<%- include('../partials/footer.ejs') %>