<%- include("../partials/header.ejs") %>
  <nav>
    <img src="/images/logo.svg">
          <form class="search" action="/users" method="GET">
            <input id="search" type="text" name="name" placeholder="search name" value="" autocomplete="off">
            <button type="submit">Search</button>
          </form>
          <a href="/questions/new" class="ask">Ask</a>
            <% if (user) { %>
              <a class="login" href="/logout">Log Out</a>
            <% } else { %>
              <a class="login" href="/auth/google">Login with Google</a>
            <% } %>
 </nav>
          <% questions.forEach(element => { %>
            <h4><%=element.title%></h4>
            <a href="/questions/<%= element._id %>">DETAILS</a>
            <form action="/questions/<%= element._id%>?_method=DELETE" method="POST">
              <input type="submit" value="DELETE">
            </form>
          <% }); %>  
<%- include('../partials/footer.ejs') %>